<div class="invite-user-page">
  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
    <mat-card class="container-card" appearance="outlined">
      <mat-card-header class="header">
        <mat-card-title>
          @if (user_role === 'superadmin'){
          Invite User
          }
          @else{
          Invite Provider
          }

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="fields">
          <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email" />
            <!-- @if (submitted && !email) { -->
            <mat-error>A valid email address is required!</mat-error>
            <!-- } -->
          </mat-form-field>
          @if (user_role === 'superadmin'){
          <div>
            <label id="role-radio-group-label">Invite as a:</label>
            <mat-radio-group aria-labelledby="radio-group-label" 
            formControlName="role" name="role"
            (selectionChange)="onRoleChange()">
              <mat-radio-button value="provider">Provider</mat-radio-button>
              <mat-radio-button value="admin">Admin</mat-radio-button>
              <mat-radio-button value="superadmin">Superadmin</mat-radio-button>
            </mat-radio-group>
          </div>
          }
          @if( inviteForm.value.role === 'provider'){
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Assign user to a team</mat-label>
            <mat-select formControlName="selectedTeam">
              <mat-option *ngFor="let team of teams" [value]="team.team_id">
                {{ team.team_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error>You need to assign this user to a provider team</mat-error>
          }
          <div>
            <label id="timespan-radio-group-label">Expires after:</label>
            <mat-radio-group aria-labelledby="timespan-radio-group-label" formControlName="timespanString" name="timespan">
              <mat-radio-button value="3 day">3 days</mat-radio-button>
              <mat-radio-button value="7 day">7 days</mat-radio-button>
              <mat-radio-button value="30 day">30 days</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button type="submit" [disabled]="!inviteForm.valid">
          Send Invite Email
        </button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>