.container {
  width: 80%;
  border: 3px solid white;
  padding: 10px;
  margin: 16px;
  background-color:#eee;
}
.welcome{
  margin: 16px;
}
.content{
  margin: 16px 0;
  padding: 16px;
  text-align: center;
}

.dashboard-summary {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.summary-card {
  flex: 1;
  padding: 16px;
  text-align: center;
}

.reviews-list-card {
  margin: 16px 0;
  padding: 16px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(177, 228, 248);
  margin:6px 0;
}
