@if (loading){<div>Loading</div>}
@if (error){<div>{{error}}</div>}
@if(!loading && !error){
<div class="container">
  <mat-card class="container-card" appearance="outlined">
    <div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-card-header>
          <mat-card-title style="padding-bottom: 1em;">Update your Profile</mat-card-title>
          <mat-card-subtitle>Basic Information</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" name="username" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="first_name" name="first_name" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="last_name" name="last_name" required />
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="" formControlName="email" name="email" required />
          </mat-form-field> -->

        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button routerLink="/profile">Cancel</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="profileForm.invalid">
            Save
          </button>
        </mat-card-actions>
      </form>
      <!-- Section 2: Email Update -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Change Email </mat-panel-title>
        </mat-expansion-panel-header>
        <form (ngSubmit)="updateEmail()" [formGroup]="emailForm">
          <mat-form-field appearance="outline">
            <mat-label for="email">New Email</mat-label>
            <input matInput id="email" type="email" formControlName="email" />
          </mat-form-field>
          <div style="display:flex; justify-content:end;">
            <button mat-flat-button color="primary" type="submit" [disabled]="!emailForm.valid">Change Email</button>
          </div>
        </form>
      </mat-expansion-panel>
      <!-- Section 3: Password Update -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Change Password </mat-panel-title>
        </mat-expansion-panel-header>

        <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm">
          <mat-form-field appearance="outline">
            <mat-label for="currentPassword">Current Password</mat-label>
            <input matInput id="currentPassword" type="password" formControlName="currentPassword" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="newPassword">New Password</mat-label>
            <input matInput id="newPassword" type="password" formControlName="newPassword" />
          </mat-form-field>
          <div style="display:flex; justify-content:end;">
            <button mat-flat-button color="primary" type="submit" [disabled]="!passwordForm.valid">Change Password</button>
          </div>
        </form>
      </mat-expansion-panel>
    </div>

  </mat-card>

</div>
}