@if (loading) {
  <div>Loading</div>
}
@if (error) {
  <div>{{ error }}</div>
}
@if (!loading && !error) {
  <div class="container">
    <mat-card class="container-card" appearance="outlined">
      <div>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <mat-card-header>
            <mat-card-title style="padding-bottom: 1em"
              >Update your Profile</mat-card-title
            >
            <mat-card-subtitle>Basic Information</mat-card-subtitle>
          </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" name="username" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="first_name" name="first_name" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="last_name" name="last_name" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button routerLink="/profile">Cancel</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="profileForm.invalid">
            Save
          </button>
        </mat-card-actions>
      </form>
      <!-- Section 2: Email Update -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Change Email 
            <div style="color:#555;"> &nbsp;({{ this.profile.email }})</div>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <form [formGroup]="emailForm" (ngSubmit)="requestEmailChange()">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>New Email</mat-label>
              <input matInput type="email" formControlName="email" [disabled]="verificationSent" />
              @if(emailForm.get('email')?.hasError('required')){
              <mat-error>
                Email is required.
              </mat-error>
              }
              @if(emailForm.get('email')?.hasError('email')){
              <mat-error>
                Enter a valid email.
              </mat-error>
              }

            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!emailForm.valid || verificationSent">
              @if(verificationSent){
              Sent
              }@else{
              Verify
              }
            </button>
          </div>
        </form>
        <form (ngSubmit)="updateEmail()" [formGroup]="verificationForm">
          <mat-form-field appearance="fill">
            <mat-label>Verification Code</mat-label>
            <input matInput type="text" formControlName="code" />
            @if(verificationForm.get('code')?.hasError('required')){
            <mat-error>
              Verification code is required.
            </mat-error>
            }

          </mat-form-field>
          <!-- <div style="justify-items: end;"> -->
          <mat-card-actions>

            <button mat-raised-button color="primary" (click)="cancelEmailUpdate">
              Cancel
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!verificationForm.valid">
              Submit
            </button>
          </mat-card-actions>

          <!-- </div> -->

        </form>


      </mat-expansion-panel>
      <!-- Section 3: Password Update -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Change Password </mat-panel-title>
        </mat-expansion-panel-header>

        <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm">
          <mat-form-field appearance="outline">
            <mat-label for="currentPassword">Current Password</mat-label>
            <input matInput id="currentPassword" type="password" formControlName="currentPassword" />
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label for="newPassword">New Password</mat-label>
            <input matInput id="newPassword" type="password" formControlName="newPassword" />
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="text" formControlName="confirmPassword"/>
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label for="newPassword">New Password</mat-label>
            <input
              matInput
              id="newPassword"
              [type]="isPasswordVisible() ? 'text' : 'password'"
              formControlName="newPassword"
              (input)="resetConfirmPasswordField()"
              (focus)="markConfirmPasswordUntouched()"
            />
            @if (password?.value) {
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="clearPasswordField()"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            }
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePasswordVisibility($event)"
            >
              <mat-icon>{{
                isPasswordVisible() ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            @if (password?.touched && password?.hasError("required")) {
              <mat-error>A valid password is required!</mat-error>
            }
            @if (password?.dirty && password?.value) {
              <mat-error>
                <span>Password must be </span>
                <span
                  [class]="password?.hasError('notLongEnough') ? '' : 'green-message'"
                  >at least {{ PASSWORD_MIN_LENGTH }} characters,
                </span>
                <span>and include </span>
                <br />
                <span
                  [class]="password?.hasError('noLowercase') ? '' : 'green-message'"
                  >{{ PASSWORD_MIN_LOWER }} lowercase letter,
                </span>
                <span
                  [class]="password?.hasError('noUppercase') ? '' : 'green-message'"
                  >{{ PASSWORD_MIN_UPPER }} uppercase letter,
                </span>
                <span [class]="password?.hasError('noNumber') ? '' : 'green-message'"
                  >{{ PASSWORD_MIN_NUMBER }} number,
                </span>
                <span [class]="password?.hasError('noSymbol') ? '' : 'green-message'"
                  >and {{ PASSWORD_MIN_SYMBOL }} symbol.</span
                >
              </mat-error>
            }
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
              formControlName="confirmPassword"
              (blur)="markConfirmPasswordUntouchedIfPasswordInvalid()"
            />
            @if (confirmPassword?.value) {
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="clearConfirmPasswordField()"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            }
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="toggleConfirmPasswordVisibility($event)"
            >
              <mat-icon>{{
                isConfirmPasswordVisible() ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            @if (
              confirmPassword?.touched &&
              confirmPassword?.hasError("required") &&
              password?.valid
            ) {
              <mat-error>Confirm Password is required!</mat-error>
            }
            @if (
              confirmPassword?.hasError("passwordsDontMatch") &&
              confirmPassword?.dirty &&
              confirmPassword?.value &&
              password?.valid
            ) {
              <mat-error>Passwords do not match!</mat-error>
            }
            @if (
              !confirmPassword?.hasError("passwordsDontMatch") &&
              confirmPassword?.value &&
              password?.valid
            ) {
              <mat-hint class="green-message"
                >Passwords match <mat-icon>check</mat-icon></mat-hint
              >
            }
          </mat-form-field>

          <div style="display:flex; justify-content:end;">
            <button mat-flat-button color="primary" type="submit" [disabled]="!passwordForm.valid">Change
              Password</button>
          </div>
        </form>
      </mat-expansion-panel>
    </div>

  </mat-card>

</div>
}
