<div class="app-container">
        <mat-sidenav-container class="sidenav-container">
                <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
                        <div class="logo">
                                <!-- Your logo or app name here -->
                                <h1>eIPS Fidelity</h1>
                        </div>
                        <mat-nav-list class="navigation-list">
                                <a mat-list-item routerLink="/">
                                        <mat-icon>home</mat-icon> Home
                                </a>
                                <a mat-list-item routerLink="/person">
                                        <mat-icon>person</mat-icon> Person Level Survey
                                </a>
                                <a mat-list-item routerLink="/closed">
                                        <mat-icon>lock</mat-icon> Closed Survey
                                </a>
                                <a mat-list-item routerLink="/staffing">
                                        <mat-icon>people</mat-icon> Staffing Level Survey
                                </a>
                                <a mat-list-item routerLink="/ipslog">
                                        <mat-icon>assignment</mat-icon> IPS Log Survey
                                </a>
                                <a mat-list-item routerLink="/jobDev">
                                        <mat-icon>work</mat-icon> Job Development Log
                                </a>
                                <!-- Show Invite User if logged in -->
                                <a mat-list-item *ngIf="isLoggedIn()" routerLink="/inviteUser">
                                        <mat-icon>email</mat-icon> Invite User
                                </a>
                                <!-- Show Sign Out if logged in -->
                                <!-- Show Invite User if logged in -->
                                <a mat-list-item *ngIf="isLoggedIn()" routerLink="inviteUser">
                                        <mat-icon>email</mat-icon> Invite User
                                </a>        
                                <!-- Show Sign Out if logged in -->
                                <a mat-list-item *ngIf="isLoggedIn()" (click)="signOut()">
                                        <mat-icon>exit_to_app</mat-icon> Sign Out
                                </a>
                        </mat-nav-list>
                        <mat-divider></mat-divider>
                        <!-- Fixed bottom section for About Us -->
                        <div class="bottom-section">
                                <a mat-list-item routerLink="/about-us">
                                        <mat-icon>info</mat-icon> About Us
                                </a>
                        </div>
                </mat-sidenav>
                <mat-sidenav-content class="sidenav-content">
                        <!-- Main Content Here -->
                        <router-outlet></router-outlet>
                </mat-sidenav-content>
        </mat-sidenav-container>
</div>