<div class="set-up-review-page">

  <form (ngSubmit)="onSubmit()" class="form-container">
    <mat-card class="container-card" appearance="outlined">
      <mat-card-header class="header">
        <mat-card-title>Set Up Review</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="fields">
          <mat-form-field class="form-field">
            <mat-label>Select a review type</mat-label>
            <mat-select [(value)]="review">
              <mat-option>empty</mat-option>
              <mat-option value="person">Person level survey</mat-option>
              <mat-option value="staff">Staffing level survey</mat-option>
              <mat-option value="ipsLog">IPS log survey</mat-option>
              <mat-option value="jobdev">Job development log</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Select team(s)</mat-label>
            <mat-select [(value)]="team">
              <mat-option>empty</mat-option>
              @for (team of teams; track team.team_name) {
              <mat-option [value]="team.id">{{ team.team_name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <!-- 
    <mat-form-field class="form-field">
      <mat-label>Invite user by email</mat-label>
      <input matInput [(ngModel)]="email" name="email" />
    </mat-form-field> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>