<div class="set-up-review-page">
  <h1>Set Up Review</h1>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field class="form-field">
      <mat-label>Select a review type</mat-label>
      <mat-select [(value)]="review">
        <mat-option>empty</mat-option>
        <mat-option value="person">Person level survey</mat-option>
        <mat-option value="staff">Staffing level survey</mat-option>
        <mat-option value="ipsLog">IPS log survey</mat-option>
        <mat-option value="jobdev">Job development log</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Select team(s)</mat-label>
      <mat-select [(value)]="team">
        <mat-option>empty</mat-option>
        @for (team of teams; track team.team_name) {
          <mat-option [value]="team.id">{{ team.team_name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
<!-- 
    <mat-form-field class="form-field">
      <mat-label>Invite user by email</mat-label>
      <input matInput [(ngModel)]="email" name="email" />
    </mat-form-field> -->

    <button mat-flat-button type="submit">Submit</button>
  </form>
</div>
