.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
}

mat-toolbar{
  width: 100%;
  height: max-content;
  background-color: #eee;
}
.topbar-container {
  /* height: 100px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border: 1px #555;
}

#title {
  text-align: center;
  font: 1.5em bold;
  text-align: center;
  padding: 15px;
}

#btnProfile {
  position: relative;
}
#profile {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  font-size: 48px;
  cursor: pointer;
}

.logo-item {
  text-align: center;
}

.sidenav-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  font-size: 14px;
}

.sidenav {
  display: flex;
  /* height: 100%-200px; */
  width: max-content;
  /* box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24); */
  flex-direction: column;
  position: relative;
  background-color: #eee;
}

.mat-nav-list {
  padding: 0 !important;
}

.mat-nav-list a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  padding: 15px 20px;
  width: max-content;
  align-items: center justif;
}

.navigation-list .mat-list-item a {
  transition:
    background-color 0.3s,
    color 0.3s;
  color: rgba(0, 0, 0, 0.87);
}

.navigation-list a.mat-list-item:hover {
  background: #e0e0e0;
  color: #56a0d3;
}

.navigation-list a.mat-list-item:hover .mat-icon {
  color: #56a0d3;
}

.mat-icon {
  margin-right: 15px;
  color: inherit;
}

.sidenav-content {
  margin: 0px !important;
  width: calc(100% - 300px);
  padding: 20px;
  overflow-y: auto;
}

.bottom-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.bottom-section a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

/* .mat-nav-list a {
  border-radius: 4px; 
} */

.mat-nav-list a.mat-list-item {
  transition: color 0.3s;
}

.tag {
  padding: 10px 25px 0px 0px;
  color: #777;
  font: bold 1.5em;
  text-align: center;
}
