<div class="set-password-field">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="isPasswordVisible() ? 'text' : 'password'"
      formControlName="password"
      (input)="resetConfirmPasswordField()"
      (focus)="markConfirmPasswordUntouched()"
    />
    @if (password?.value) {
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="clearPasswordField()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    }
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="togglePasswordVisibility($event)"
    >
      <mat-icon>{{
        isPasswordVisible() ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
    @if (password?.touched && password?.hasError("required")) {
      <mat-error>A valid password is required!</mat-error>
    }
    @if (password?.dirty && password?.value) {
      <mat-error>
        <span>Password must be </span>
        <span [class]="password?.hasError('notLongEnough') ? '' : 'green-message'"
          >at least {{ PASSWORD_MIN_LENGTH }} characters,
        </span>
        <span>and include </span>
        <br />
        <span [class]="password?.hasError('noLowercase') ? '' : 'green-message'"
          >{{ PASSWORD_MIN_LOWER }} lowercase letter,
        </span>
        <span [class]="password?.hasError('noUppercase') ? '' : 'green-message'"
          >{{ PASSWORD_MIN_UPPER }} uppercase letter,
        </span>
        <span [class]="password?.hasError('noNumber') ? '' : 'green-message'"
          >{{ PASSWORD_MIN_NUMBER }} number,
        </span>
        <span [class]="password?.hasError('noSymbol') ? '' : 'green-message'"
          >and {{ PASSWORD_MIN_SYMBOL }} symbol.</span
        >
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
      formControlName="confirmPassword"
      (blur)="markConfirmPasswordUntouchedIfPasswordInvalid()"
    />
    @if (confirmPassword?.value) {
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="clearConfirmPasswordField()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    }
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="toggleConfirmPasswordVisibility($event)"
    >
      <mat-icon>{{
        isConfirmPasswordVisible() ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
    @if (
      confirmPassword?.touched &&
      confirmPassword?.hasError("required") &&
      password?.valid
    ) {
      <mat-error>Confirm Password is required!</mat-error>
    }
    @if (
      confirmPassword?.hasError("passwordsDontMatch") &&
      confirmPassword?.dirty &&
      confirmPassword?.value &&
      password?.valid
    ) {
      <mat-error>Passwords do not match!</mat-error>
    }
    @if (
      !confirmPassword?.hasError("passwordsDontMatch") &&
      confirmPassword?.value &&
      password?.valid
    ) {
      <mat-hint class="green-message"
        >Passwords match <mat-icon>check</mat-icon></mat-hint
      >
    }
  </mat-form-field>
</div>