@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope:wght@500&display=swap");

.login-page {
  height: 100%;
  background-color: #e9ecef;
  font-family: "Manrope", sans-serif;

  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange children in a column (vertically) */
  align-items: center; /* Center the children horizontally */
}

/* Logo image styling */
.login-page img {
  max-width: 100%;
  width: 100%;
  padding: 30px;
  max-width: 400px;
}

h1 {
  font-size: 22px;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 400px; /* length of the input fields */
  padding-bottom: 20px; /* Space below each input field */
}
